/********** Work Section Start **********/
/*.work-section {
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #f1f4fa;
}*/
.wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.wrap:hover {
/*    background: linear-gradient(135deg,#6394ff 0%,#0a193b 100%);*/
    color: white;
    background-color: #5cb85c;
}

.ico-wrap {
    margin: auto;
}

.mbr-iconfont {
    font-size: 4rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}
.vcenter {
    margin: auto;
}

.mbr-section-title3 {
    text-align: left;
}
.vcenter h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.display-5 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1.4rem;
}

/********** Pay Section Start **********/

/********** Footer Section Start **********/
.social-ico {
    font-size: 20px;
}

/*******Side Nav*******/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.socialSignUp a{
    text-decoration: none;
}
.fbSignUp {
    background: #3B5998;
    padding: 15px 25px;
    margin: 0 5px;
}
.googleSignUp {
  background: #dd4b39;
  padding: 15px 25px;
  margin: 0 5px;
}
.twitterSignUp {
  background: #55ACEE;
  padding: 15px 25px;
  margin: 0 5px;
}